language: node_js
sudo: false
cache:
  directories:
  - node_modules
install:
- npm install -g bower
- npm install
- bower install
script:
- npm test
after_success:
- ember build --environment=production
- "./bin/s3-publish.js"
env:
  global:
  - S3_BUCKET_NAME=ember-ui
  - secure: WrOhvFmSeECuX2p6zDYH/UCkokZ92Jp8clmvg3FqIt06SQCo134OLPpITDGOIdBhZTxRWI3CcXzak7dJv2jqoCAI1IkexMvyuZqeH92RCIZOvIMwfNG3viHzk74TYs7/L6VOz657wUv13VoaXPx7A9YJH41ZRqYhH4AE1X3x4e8=
